
@model PlanMyTripApp.Models.User


<center>
    <h1 style="align-content:center;color:blueviolet">Welcome to PlanMyTrip Portal</h1>
    <p style="font-size:15px; font-family:Calibri;color:brown">
        Developed By Abhinav,Alok,Pradyuman,Shirsa,Tamajit
    </p>
</center>

<div id="sidebar">
        <div class="">
            <ul class="style2">
                <li> @Html.ActionLink("Search Flights", "GetSearchResult", "Flight")</li>

                <li>@Html.ActionLink("Search Hotels", "GetSearchResult", "Hotel")</li>

            </ul>
        </div>
    </div>





