
@model PlanMyTripApp.Models.User


<center>
    <h1 style="align-content:center">Welcome to PlanMyTrip Portal</h1>
    <p style="color:mediumpurple ; font-size:20px; font-family:Calibri">
        <output>Developed By Abhinav,Alok,Pradyuman,Shirsa,Tamajit</output>
    </p>
</center>

<div id="sidebar">
        <div class="">
            <ul class="style2">
                <li> @Html.ActionLink("Search Flights", "SearchFlights", "Search")</li>

                <li>@Html.ActionLink("Search Hotels", "GetSearchResult", "Hotel")</li>

            </ul>
        </div>
    </div>





